html {
    margin: 0;
    
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  .white_bra{
    display: flex;

  }
  
  .button {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: solid black 2px;
    display: inline-block;
    cursor: pointer;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  
  .Button{
    cursor: pointer;
    background-color: #fff;
  }
